html,
body {
	min-width: 1000px;
	margin: 0;
	padding: 0;
	font-family: 'Amaranth', Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #000000;
	background-color: #ECEDED;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

h2 {
	font-size: 33px;
	line-height: 28px;
}

h3 {
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
}

.img {
	max-width: 100%;
	height: auto;
}

.button {
	font: inherit;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	background-color: #ffffff;
	border: none;
}

a.button {
	padding: 8px 16px;
	border-radius: 7px;
}

.border-gray {
	border: 1px solid #D4D5D5;
}


.inner-border {
	border: 1px solid #F7F7F7;
	background-color: #EEEFEF;
}

.shadow {
	box-shadow: 0px 10px 35px -20px #000000;
}

.container {
	width: 900px;
	margin: 0 auto;
	padding: 0 50px;
	/*	background-color: yellow;*/
}

/*Header*/
.main-header {
	min-height: 200px;
	margin-bottom: 50px;
}

.header-management {
	color: #000000;
	background: linear-gradient(#F0F1F1, #C1C1C1);
	min-height: 35px;
	display: flex;
	align-items: center;
	min-width: 1000px;
}

.flex-header-management {
	display: flex;
	/*	flex-direction: row-reverse;*/
	justify-content: flex-end;
}

.site-management {
	list-style: none;
}

.site-management a {
	color: #000000;
	fill: #2F2F2F;
}

.site-management a:hover,
.site-management a:focus {
	fill: #F77007;
}

.site-management {
	margin: 0;
	padding: 0;
	display: flex;
	width: 150px;
	height: 15px;
	justify-content: flex-end;
	/*	justify-content: space-between;*/
}

.site-management li:nth-child(3) {
	padding-left: 18px;
	border-left: 1px solid #DFE0E0;
}

.site-management li:nth-child(2) {
	padding: 0 18px;
	border-left: 1px solid #DFE0E0;
	border-right: 1px solid #C2C3C3;
}

.site-management li:nth-child(1) {
	padding: 0 18px;
	border-right: 1px solid #C2C3C3;
}

.footer-management {
	color: #ffffff;
	background-color: #1E1E1E;
	min-width: 1000px;
	background: radial-gradient(ellipse, #3E3E3E, #1E1E1E);
	min-height: 163px;
	border-top: 1px solid #EDEEEE;
	border-bottom: 1px solid #EDEEEE;
	display: flex;
	align-items: center;
}

.footer-management p {
	width: 300px;
	height: 55px;
	display: flex;
	align-items: flex-end;
	padding-bottom: 15px;
}

.flex-cont {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.main-header-logo {
	width: 226px;
	height: 70px;
}

.site-social {
	list-style: none;
}

.site-social a {
	color: #ffffff;
	display: block;
}

.site-social {
	margin: 0;
	padding: 0;
	min-height: 70px;
	width: 300px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.site-social li {
	padding-left: 20px;
}

/*Centre*/
.main-content {
	display: flex;
	justify-content: space-between;
	/*	background-color: grey;*/
}

.main-navigation {
	font-size: 40px;
	line-height: 44px;
	text-transform: uppercase;
	color: #000000;
}

.main-navigation {
	/*	background-color: green;*/
}

.site-navigation {
	list-style: none;
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #F77007;
}

.site-navigation {
	padding: 0;
	margin: 0;
}

.main-section {
	padding: 0 8px;
	margin: 0;
	width: 649px;
	/*	background-color: orange;*/
}

.slider {
	padding-bottom: 40px;
}

.slider {
	position: relative;
}

.button-slider-1 {
	content: "";
	position: absolute;
	bottom: 60px;
	right: 102px;
	width: 20px;
	height: 20px;
	/*	background: linear-gradient(#F77815, #F03601);*/
	background: linear-gradient(#FFFFFF, #E7E7E7);
	border: 1px solid #ECEDED;
	border-radius: 20px;
}

button.active {
	background: linear-gradient(#F77815, #F03601);
}

.button-slider-2 {
	content: "";
	position: absolute;
	bottom: 60px;
	right: 70px;
	width: 20px;
	height: 20px;
	background: linear-gradient(#FFFFFF, #E7E7E7);
	border: 1px solid #ECEDED;
	border-radius: 20px;
}

.button-slider-3 {
	content: "";
	position: absolute;
	bottom: 60px;
	right: 38px;
	width: 20px;
	height: 20px;
	background: linear-gradient(#FFFFFF, #E7E7E7);
	border: 1px solid #ECEDED;
	border-radius: 20px;
}

button.button-slider-1:hover,
button.button-slider-1:focus,
button.button-slider-2:hover,
button.button-slider-2:focus,
button.button-slider-3:hover,
button.button-slider-3:focus {
	background: linear-gradient(#F77815, #F03601);
}

.strategy-list {
	list-style: none;
}

.strategy-list {
	width: 649px;
	height: 317px;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.strategy-item:nth-child(1) {
	background-color: #8A2795;
	/*#A63EB0;*/
	border-top: 6px solid #A63EB0;
	background: radial-gradient(#D15CD6, #8A2795);
}

.strategy-item:nth-child(1) a {
	color: #A63EB0;
}

.strategy-item:nth-child(2) {
	background-color: #058C49;
	/*#0AA868;*/
	border-top: 6px solid #0AA868;
	background: radial-gradient(#0FD39B, #058C49);
}

.strategy-item:nth-child(2) a {
	color: #0AA868;
}

.strategy-item:nth-child(3) {
	background-color: #F35003;
	/*#F77007;*/
	border-top: 6px solid #F77007;
	background: radial-gradient(#FBA60A, #F35003);
}

.strategy-item:nth-child(3) a {
	color: #F77007;
}

li.strategy-item {
	color: #ffffff;
	font-size: 33px;
	line-height: 28px;
}

.strategy-item p {
	padding: 0;
	margin: 0;
}

li.strategy-item {
	width: 153px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.strategy-item {
	padding-top: 26px;
	padding-left: 30px;
	padding-right: 28px;
	padding-bottom: 35px;

}

.strategy-item a {
	font-size: 19px;
	line-height: 28px;
}

p.strategy-text {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
}

a.button:hover,
a.button:focus,
a.button:active {
	background-color: #ECEDED;
	/*#D4D5D5*/
	color: #000000;
}

.news h2 {
	padding-left: 30px;
}

.news h2 {
	color: #a63eb0;
}

.news-list {
	list-style: none;
}

.news-list {
	list-style: none;
	border: 1px solid #F7F7F7;
	background-color: #EEEFEF;
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
}

.news-list {
	margin: 0;
	padding: 30px 30px;
}

.news-item b {
	font-weight: bold;
}

.news-item {
	display: flex;
	justify-content: space-between;
}

.news-item {
	margin-bottom: 30px;
}

.news-item:last-child {
	margin-bottom: 0;
}

.news-content {
	width: 400px;
	height: 151px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

}

.news-content b,
.news-content p {
	padding: 0;
	margin: 0;
}

.services h2 {
	color: #077ef7;
}

.services h2 {
	padding-left: 30px;
}

.services-list {
	list-style: none;
}

.services-list {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: baseline;
}

.services-item p {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
}

.services-item:nth-child(1),
.services-item:nth-child(2) {
	margin-bottom: 9px;
}

.services-item {
	width: 318px;

}

.services-item .inner-border {
	width: 275px;
	padding: 14px 25px 20px 16px;
	display: flex;
	justify-content: space-between;
}

.services-item .inner-border h3 {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.services-content {
	width: 166px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.services-content p {
	padding: 0;
	margin: 0;
}

.products h2 {
	color: #0aa868;
}

.products h2 {
	padding-left: 30px;
}

.products-list {
	list-style: none;
}

.products-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
}

.products-item {
	width: 208px;
}

.products-item p {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
}

.products-item .inner-border {
	padding: 30px 30px 25px 30px;
	/*
	box-sizing: border-box;
	height: 100%;
*/
}

.products-item h3,
.products-item p {
	padding: 0;
	margin: 0;
}

.products-item h3 {
	margin-top: 20px;
	margin-bottom: 15px;
}



.products-item:nth-child(1),
.products-item:nth-child(2),
.products-item:nth-child(3) {
	margin-bottom: 9px;
}

.faq h2 {
	color: #e40016;
}

.faq h2 {
	padding-left: 30px;
}

.faq-list {
	list-style: none;
}

.faq-list {
	list-style: none;
	border: 1px solid #F7F7F7;
	background-color: #EEEFEF;
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
}

.faq-list b {
	font-weight: bold;
}

.faq-list {
	margin: 0;
	padding: 25px 33px 25px 30px;
	display: flex;
	flex-direction: column;
}

.faq-item {
	display: flex;
	flex-direction: column;
}

.faq-item b,
.faq-item p {
	margin: 0;
	padding: 0;
}

.faq-item b {
	margin-bottom: 10px;
}

li.faq-item {
	margin-bottom: 25px;
}

li.faq-item:last-child {
	margin-bottom: 0;
}